.pmdashboard
{
    padding: 2%;
    background-color: rgb(233, 239, 241);
}
h5{
    text-align: left;
    font-size: 10px;
   
}
h4{
    text-align: center;
    font-size: 10px;
}
.h4style
{
    color: rgb(97, 45, 45);
    font-size: 20px;
}
.h4styleval
{
    color: rgb(165, 139, 157);
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
.totalNewClosed
{
    height: 21%;
    width: 90%;
    padding: 3%;
}
.defstatuschart
{
    height:100%;
    margin-bottom: 1%;
}
h6{
    font-size: 10px;
    color: rgb(119, 108, 108);
    text-align: left;
    margin-bottom: 2%;
}
.totalactivedefects
{
    font-size: 16px;
    color: rgb(119, 108, 108);
    text-align: left;
    margin-top: -10%;
    margin-left: -13%;    
    /* margin: 2%; */

}

.btn_clear_fiter
{
    text-align: left;
}
.tbl
{
    background-color: white;
    padding: 2%;
    margin-top: 2%;

}
.idle
{
    margin-left: 40%;
    margin-top: -19%;
    padding: 2%;
}

.h6active
{
    font-size: 16px;
    color: rgb(119, 108, 108);
    text-align: left;
    margin-left: 47%;
}
.h6idle
{
    font-size: 16px;
    color: rgb(119, 108, 108);
    text-align: left;
    margin-left: 45%;
    margin-top: -19%;
    
    
}
.total_active_defect
{
    /* margin: 3%;     */
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 1%;
    
}
.active
{
    margin-left: 2%;
    margin-right: 3%;
    margin-bottom: 1%;
}
.productivity
{
    height: 50%;
}
.ourclients
{
    width: 100%;
    margin-left: 100%;
    margin-top: -117%;
}
.ourclients1
{
    width: 100%;
    margin-left: 100%;
    margin-top: -175%;
}
.defect
{
    padding-top: 3%;
    
}
.companyh6
{
    text-align: center;
}
p
{
    font-size: 14px;
}
.timeline
{
    padding-left: 50%;
    margin-top: -61.2%;
    padding-bottom: 10%;
}